<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link href="{{url_for('static', filename='css/stylesheet.css')}}" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <!-- Include Navbar -->
    {% include "macros/navbar.html" ignore missing with context %}

    <!-- Get Flask messages -->
    {% include "macros/flask_messages.html" ignore missing with context %}

    <div class="container mt-5 max-width-container">
        <h1 class="mb-4">Admin</h1>
        <p>IP: {{ip_address}}</p>
        <p>Password: {{password}}</p>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
