<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Issue Commands</title>
</head>
<body>
    <h1>Issue Commands</h1>
    <form id="commandForm" method="post">
        <div>
            <label for="identifier">Identifier:</label>
            <input type="text" id="identifier" name="identifier">
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
        </div>
        <div>
            <label for="color">Color:</label>
            <input type="color" id="color" name="color">
        </div>
        <button type="submit">Send Command</button>
    </form>
</body>
</html>
