<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cyber Lab</title>
    <link href="{{url_for('static', filename='css/stylesheet.css')}}" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <!-- Include Navbar -->
    {% include "macros/navbar.html" ignore missing with context %}

    <!-- Get Flask messages -->
    {% include "macros/flask_messages.html" ignore missing with context %}

    <div class="container mt-5 max-width-container">
        <h1 class="mb-4">Cyber Lab</h1>
        <p>Welcome to the Cyber Lab! This is a simple web application that allows you to send commands to your Y-Badge. Your goal is to find and crack the password to someone's Y-Badge, and issue commands to that device.</p>
        <p>To help you on your hacking adventure, here are the objectives you should follow:</p>
        <ol>
            <li>Find a "data leak" that gives you the password hash to the Y-Badge.</li>
            <li>Crack the password hash you found.</li>
            <li>Go to <a href="/control_device">/control_device</a> (or click on "Send Command" in the NavBar), fill in the IP address and password, and change the color of the Y-Badge.</li>
        </ol>
        <p><b>Hint</b>: A good place to start would be to navigate to "<b>/robots.txt</b>". Pay attention for suspicious routes, perhaps the <b>Disallowed</b> routes may have something of interest? ;)</p>
        <p><b>Hashes Hint</b>: Once you have the password hash, you can crack it on the website: <a href="https://hashes.com">hashes.com</a></p>
        <p><b>Easter Eggs</b>: If you finish the lab early, there are some easter eggs to find. Try sending <b>GET</b> and <b>POST</b> requests to a few endpoints you found in "<b>/robots.txt</b>". You may want to try using <a href="https://learning.postman.com/docs/getting-started/first-steps/sending-the-first-request/">Postman</a> or <a href="https://www.warp.dev/terminus/curl-post-request">Curl</a>.</p>
        <p class="warning">You are authorized to hack this website. Hacking other websites without authorization is illegal.</p>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
