{% extends "base.html" %}


{% block title %}Grades{% endblock %}

{% block content %}
    {% if username == "teacher" %}
        <h1 class="mb-4">Grades</h1>
        <p>You are a teacher, you don't have grades. To manage student grades, go to: <a href="/teacher_portal">teacher portal</a></p>
    {% else %}
        <h1 class="mb-4">Grades - {{session["username"]}}</h1>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Subject</th>
                        <th>Grade</th>
                    </tr>
                </thead>
                <tbody>
                    {% for subject, grade in grades.items() %}
                    <tr>
                        <td>{{ subject }}</td>
                        <td>{{ grade }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}