{% extends "base.html" %}

{% block title %}Student Grades Demo{% endblock %}

{% block content %}
    <h1 class="mb-4">Student Grades Demo</h1>
    <p>Welcome to the Student Grades Demo website! This is a simple website to teach you some hacking skills. You are authorized hack this website.</p>
    <p>You can sign in with username: <b>katie</b> password: <b>password</b></p>
    <p>Here are your objectives:</p>
    <ol>
        <li>Find the password hash to the <b>teacher</b> user.</li>
        <li>Crack the password hash to the <b>teacher</b> user.</li>
        <li>Sign in as the <b>teacher</b> user.</li>
        <li>Change a student's grade.</li>
    </ol>
    <p>Next try poking around in the website. You want to find a way to sign in as the <b>teacher</b> user. Try to find the password to the teacher user somewhere.</p>
    <p>Perhaps you should look for <b>disallowed</b> pages in <a href="/robots.txt">robots.txt</a> ;)</p>
    <p>If you find any suspicious pages, try navigating to them. For example, if I found the record: "<b>Disallow: /fun</b>" I would put this url in my browser: <b>{{request.base_url}}fun</b></p>
{% endblock %}