{% extends "base.html" %}

{% block title %}User Passwords{% endblock %}

{% block content %}
    <h1 class="mb-4">User Passwords</h1>
    <table class="table table-bordered" style="margin-bottom: 20px;">
        <thead>
            <tr class="text-center">
                <th>Username</th>
                <th>Hashed Password</th>
            </tr>
        </thead>
        <tbody>
            {% for user, password in users.items() %}
            <tr class="text-center">
                <td>{{ user }}</td>
                <td>{{ password }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p style="color: red;">IMPORTANT: For teacher use only! The passwords are hashed using MD5, and can easily be "cracked".</p>
{% endblock %}