{% extends "base.html" %}

{% block title %}Teacher - Manage Grades{% endblock %}

{% block content %}
    <h1 class="mb-4">Manage Grades</h1>
    <h2>View Grades</h2>
    <div class="table-responsive">
        <table class="table table-bordered" style="margin-bottom: 20px;">
            <thead>
                <tr>
                    <th>Student</th>
                    <th>Subject</th>
                    <th>Grade</th>
                </tr>
            </thead>
            <tbody>
                {% for student, grades in grades.items() %}
                {% for subject, grade in grades.items() %}
                <tr class="text-center">
                    <td>{{ student }}</td>
                    <td>{{ subject }}</td>
                    <td>{{ grade }}</td>
                </tr>
                {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br>

    <h2>Change Grades</h2>
    <form method="post">
        <label for="student">Student:</label>
        <select id="student" name="student" required>
            {% for student in grades.keys() %}
            <option value="{{ student }}">{{ student }}</option>
            {% endfor %}
        </select><br><br>
        
        <label for="subject">Subject:</label>
        <select id="subject" name="subject" required>
            <option value="Math">Math</option>
            <option value="Science">Science</option>
        </select><br><br>
        
        <label for="grade">Grade:</label>
        <input type="text" id="grade" name="grade" required pattern="^\d{1,3}$"><br><br>
        
        <button type="submit">Update Grade</button>
    </form>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
{% endblock %}